.helpHeader h1 {
  font-size: 2.4rem;
}

.helpHeader p {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
}

.helpContainer {
  /* height: 90%; */
  padding: 2rem;
}

.helpBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.helpSection {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.editButton {
  width: 35%;
}

.detailOption h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.profileDetails {
  margin: 1rem;
  margin-top: 2rem;
}

.detailOption {
  margin: 0.5rem;
}

.detailOption p {
  font-weight: 600;
  margin-top: 0.25rem;
}

.accordionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settingsBody {
  width: 100%;
}

.accordionTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.accordionBody {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

.accordionBody p {
  margin-top: 1rem;
}

.empty {
  height: 3rem;
}

.errorMessage {
  margin-top: 0;
  padding-top: 0;
}

.accordionBody form {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.accordionBody form div {
  margin-top: 0rem;
}

.accordionBody form p {
  /* padding-bottom: 1rem; */
}
