/* BUTTON STUFF */
/* main button  */
.button {
  appearance: none;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;

  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2;
  height: 3.6rem;

  list-style: none;
  padding: 0.25rem 0.5rem;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  width: 100%;
}

.button:hover {
  background-color: var(--tertiary-color);
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: var(--primary-sub-color);
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button:active {
  background-color: var(--primary-sub-color);
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

/* secondary button  */

.secondary {
  background-color: var(--background-color);
  color: var(--primary-color);
  /* border: 0.15rem solid var(--primary-sub-color); */
}

.secondary:hover {
  background-color: var(--primary-sub-color);
  color: white;
  text-decoration: none;
  transition-duration: 0.1s;
}
