@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* Mostly equivalates to 10px but allows users accessibility zoom settings to work*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark light;
  height: 100%;
  margin: 0;

  font-family: "Quicksand", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light only;
  color: rgb(0, 0, 0);
  background-color: #f7f7f7;
  letter-spacing: -0.05rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --primary-color: #00a88f;
  --primary-sub-color: #7bccbc;
  --secondary-color: #bb5ec6;
  --tertiary-color: #007b60;
  --background-color: #f7f7f7;
  --border-radius-1: 5rem;
  --border-radius-2: 2rem;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Scrollbar only */

/* Width */
body ::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
body ::-webkit-scrollbar-track {
  border-radius: 50rem;
  height: 5rem;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  border-radius: 50rem;
  background: rgb(231, 231, 231);
  width: 5rem;
}

/* responsive elements  */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Try to keep your margins going in one direction to avoid margin collapase or grounding. I switch all the top margins off to avoid this issue. */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
address,
article,
aside,
details,
dialogue,
fieldset,
figcaption,
figure,
footer,
form,
header,
hr,
main,
nav,
pre,
section,
table,
p {
  margin-block-start: 0;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
svg,
video {
  display: block;
  /* This means that it can be less than 100% of the width of its parent IF the image is INTRINSICALLY smaller */
  max-width: 100%;

  height: auto;
  /* 'auto' is the initial value for height BUT for images (and other elements which have an intrinic height) that is not the case. To make an image responsive you set one dimension (usually width) to [max-]width: 100%; and the other to 'auto' to ensure it keeps aspect ratio. 'auto' basically tells the browser to decide. */
  /* vertical-align: middle; */
  /* minor vertical centering. Works for images IF there is a baseline (i.e. they are displayed inline or inline-block) */
}

/* Because we us <ul>s for lists that we don't always want bulletted. */
ul {
  list-style: none;
  padding-left: 50px;
}

/* To make actual bulletted lists */
ul.typographic {
  list-style: initial;
  padding-inline-start: 20px;
}

/* stops icons being the target of JS click events */
.btn *,
button * {
  pointer-events: null;
  user-select: none;
}

/* inherits the font */
input,
button,
textarea,
select {
  font: inherit;
}

/* 
.MuiOutlinedInput-notchedOutline {
  border-radius: 5rem !important;
} */

/*****************************
  * ACCESSIBILITY
  ******************************/
/* For 'accessibility text'. If your button only has an image inside it that isn't good for accessibility. Put a span inside there and give it this class and put some descriptive text for what the button does into the span. */

.visually-hidden,
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  clip-path: auto;
  -webkit-clip-path: auto;
  white-space: normal;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
