/*main template  */

.mainComponent {
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: auto; */
}

.mainComponentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  padding-bottom: 1rem;

  width: 100%;
  /* background-color: aqua; */
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  top: 0;
  left: 0;

  border-radius: 0 0 2rem 2rem;
}

.mainComponentLogoContainer {
  display: flex;
  color: var(--primary-color);
  font-size: 1.2rem;
  gap: 0.5rem;
}

.mainComponentLogo {
  width: 1.6rem;
}

.mainSubComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 5.5rem;
  height: 300rem;
  /* overflow-y: auto; */
  /* margin-bottom: 10rem; */
  /* padding-bottom: 20rem; */
}

.mainBoxWrapper {
  background-color: var(--background-color);
  /* background-color: rgb(214, 214, 214); */
  width: 100%;
  height: 100%;
  /* border-radius: var(--border-radius-3); */
  border: none;
  /* padding: 1rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  /* overflow-y: auto; */
}

.mainComponentBox {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  border: none;
  padding: 1rem;
  /* overflow-y: auto; */
}

.mainComponentBoxHeader {
  font-size: 1.2rem;
  text-align: center;
}

.mainLogoLink {
  padding-left: 0.5rem;
}

.mainControls {
  display: flex;
  gap: 0.5rem;
}

.mainControlsButton {
  border: none;
  background-color: var(--background-color);
  padding: 0;
  border-radius: 5rem;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.mainControlsButton:hover {
  background-color: var(--hover-color);
}

.mainComponentFooter {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  /* z-index: 1; */

  border-radius: 2rem 2rem 0 0;
}

.sectionText {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--sub-color);
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: var(--primary-sub-color);
}

.central {
  color: var(--secondary-sub-color);
}

.section:hover {
  color: var(--primary-color);
}

.section:hover .sectionText {
  color: black;
}

.central:hover {
  color: var(--secondary-color);
}

.placeholder {
  height: 20rem;
}
