.registerNames {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  gap: 1rem;
}

.registerNumber {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.registerPostcode {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
