.transferControls {
  display: flex;
  width: 100%;
  justify-content: center;
}

.transferControlButton {
  /* display: flex; */
  /* min-width: 100%; */
  width: 100%;
}

.payButton {
  margin-top: 1rem;
}
