/* welcome page stylesheet  */

.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.welcomeName {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.welcomeLogo {
  width: 20rem;
  padding: 3rem;
}

.welcomeControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
  max-width: 40rem;
  gap: 0.5rem;
}
