.logoContainer {
  width: 16rem;
  margin: 3rem;
}

.logo {
  width: 100%;
}

.logoName {
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.25rem;
  font-size: 6rem;
  color: var(--primary-color);
}

.logoNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.1rem solid black; */
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  height: 4rem;
  width: 8rem;
  /* background-color: #c8ecc8; */
}
